<%- include('partials/header'); -%>
    <h1>Home</h1>
    <p>
        <%= content %>
    </p>
    <div>
            <% posts.forEach(function(post) { %>
                <% console.log(post.title); %>
                <h3><%= post.title %></h3>
                <p><%= post.content %></p>
                        <% }); %>
    </div>
    <%- include('partials/footer'); -%>